{# templates/app/cart/index.html.twig -- show cart details #}

{% extends 'app/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="border rounded mt-5 align-middle">
        <div class="p-5">
            <h1>{% trans %}Mon panier{% endtrans %}</h1>
            <p>{% trans %}Retrouvez l'ensemble des produits que vous avez ajouté à votre panier{% endtrans %}.</p>
        </div>

        <hr>
        {% if cart is not empty %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">{% trans %}Produit{% endtrans %}</th>
                    <th scope="col"></th>
                    <th scope="col">{% trans %}Quantité{% endtrans %}</th>
                    <th scope="col">{% trans %}Prix{% endtrans %}</th>
                    <th scope="col">{% trans %}Total{% endtrans %}</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% set totalPrice = null %}
                    {% set totalPrices = null %}
                    {% set totalProducts = null %}
                    {% for products in cart %}
                        {% set product = products.product %}
                        <tr>
                            <td scope="row">
                                <img src="{{ product.illustration }}" alt="{{ product.name }}" height="50px">
                                
                            </td>
                            <td>
                                <b>{{ product.name }}</b><br />  
                                <small>{{ product.subtitle }}</small>
                            </td>
                            <td>
                                <a class="text-dark btn btn-light fw-bold fs-3 mb-2" href="{{ path('cart_decrease', {'id' : product.id, 'route': app.request.get('_route') }) }}">
                                    -
                                </a>
                                <span>{{ products.quantity }}</span>
                                <a class="text-dark btn btn-light fw-bold fs-4 mb-2" href="{{ path('cart_add', { 'id': product.id, 'route': app.request.get('_route') }) }}">
                                    +
                                </a>
                            </td>
                            <td>{{ (product.price)|number_format(2, ',', '.') }} €</td>
                            <td>{{ (product.price * products.quantity)|number_format(2, ',', '.') }} €</td>
                            <td>
                                <a class="text-dark" href="{{ path('cart_delete', {'id' : product.id}) }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% set totalPrice =+ (product.price * products.quantity) %}
                        {% set totalProducts =+ products.quantity %}

                        {% set totalPrices = totalPrices + totalPrice  %}
                    {% endfor %}
                    <tr>
                        <td colspan="6" class="text-end">
                            <p><b>{% trans %}Nombre de produit{% endtrans %}</b> : {{ totalProducts }}</p>
                            <p><b>{% trans %}Total de mon panier{% endtrans %}</b> : {{ ( totalPrices)|number_format(2, ',', '.') }} €</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center py-3"> <a class="btn btn-success btn-block" href="{{ path('order_index') }}">{% trans %}Valider mon panier{% endtrans %}</a> </div> <hr>
        {% else %}
            <p class="p-5 h5">{% trans %}Le panier est vide{% endtrans %}.</p>
            <div class="text-center py-3"><a class="btn btn-primary" href="{{ path('product_index') }}">{% trans %}Retourner aux produits{% endtrans %}</a></div> <hr>
        {% endif %}
    </div>
{% endblock %}

{% block cartDisplay %}{% endblock %}
