{# templates/admin/user/show.html.twig -- Show a user #}

{% extends 'admin/base.html.twig' %}

{% block title %}Membre : {{ controller_name }}{% endblock %}

{% block body %}
<h1 class="h3 my-5">Membre : {{ controller_name }}</h1>

<div class="card text-center">
    <div class="card-header">
        <h2 class="h5">Fiche de renseignement du membre : {{user.fullName}} </h2>
    </div>
    <div class="card-body row text-start p-0">
        <div class="col-md-6 text-center my-auto">avatar</div>
        <div class="col-md-6 border-start p-5 my-auto" >
            <p>Nom : <b>{{user.fullName}}</b>
                {% if 'ROLE_WEBMASTER' in user.roles %} (WEBMASTER){% elseif 'ROLE_ADMIN' in user.roles  %}(ADMIN){% endif %}
            </p>
            <p>Email : {{user.email}} {% if user.isVerified %}<span class="badge rounded-pill text-bg-success" title="Email vérifié">&nbsp;</span>
                {% else %}<span class="badge rounded-pill text-bg-danger" title="Email non vérifié">&nbsp;</span></p>{% endif %}
        </div>
        <div class="col-12 border-top text-center">adresse</div>
    </div>
    <div class="card-footer text-body-secondary">
        <a href="{{ path('admin_user_index') }}">back to list</a>

        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
    </div>
</div>

{% endblock %}
