{% extends 'app/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% form_theme form _self %}

{% block sideMenu %}
    <aside class="col-2 border-end p-5">
        <h2 class="my-5">Filtrer</h2>
        <div class="col-10">{{ form(formSearch, {'action': path('product_index'), 'method': 'GET'}) }}</div>
    </aside>
{% endblock %}

{% block body %}
    <div class="mx-auto row p-5">
        <h1 class="h3 mb-5">Mon compte</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary my-3">{% trans %}Modifier{% endtrans %}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block sideCart %}
    {{ sessionCart.display() }}
{% endblock %}

{% block _account_addresses_widget %}

    <div class="text-end">
        <button type="button" id="add-address" class="btn btn-primary">Ajouter une adresse</button>
    </div>
    <input type="hidden" id="widgets-counter" value="0">
    <div class="mt-5">
        {{ form_widget(form, {'attr': {'class': 'row justify-content-md-center g-3'}}) }} 
    </div>

{% endblock %}

{% block _account_addresses_entry_row %}

    <div class="col-lg-5 card p-5 m-4" id="block_{{id}}">
        <h5>
            <button type="button" data-bs-action="delete" data-bs-target="#block_{{id}}" class="btn btn-danger float-end">X</button>
            {% if field_value(form.name) != "" %}
                Adresse ({{ field_value(form.name) }})
            {% else %}
                Nouvelle adresse
            {% endif %}
        </h5>
        {{ form_widget(form) }}
    </div>

{% endblock %}

{% block _account_addresses_entry_widget %}

    <div class="form-group" >
        {{ form_widget(form) }}
    </div>

{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <script>
        $('#add-address').click(function(){
            const index = +$('#widgets-counter').val();
            const tmpl = $('#account_addresses').data('prototype').replace(/__name__/g, index);
            $('#account_addresses').append(tmpl);
            $('#widgets-counter').val(index + 1);
            handleDeleteButtons();
        });

        function handleDeleteButtons(){
            $('button[data-bs-action="delete"]').click(function(){
                const target = this.dataset.bsTarget;
                $(target).remove();
            });
        }

        handleDeleteButtons();

    </script>

{% endblock %}
