{# templates/admin/client_edit/new.html.twig -- New element of client editing #}

{% extends 'admin/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% form_theme form _self %}

{% block body %}
    <h1>Create new Element Client</h1>
    {{ form_start(form) }}
        <div class="col">
            {{ form_row(form.section) }}
        </div>
        <div id="form-file" class="col {% if (section == null) or (section.type != "file") %}d-none{% endif %}">
            {{ form_row(form.file) }}
        </div>
        <div id="form-string" class="col {% if (section == null) or (section.type != "string") %}d-none{% endif %}">
            {{ form_row(form.string) }}
        </div>
        
        <button type="submit" class="btn btn-primary my-3">{% trans %}Créer{% endtrans %}</button>
    {{ form_end(form) }}

    
    <a href="{{ path('admin_client_edit_index') }}">back to list</a>

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% set url = app.request.server.get('YOUR_DOMAIN') ~ path(app.request.attributes.get('_route')) %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
        $(document).ready(function(){
            {% if section %}
                var elt = document.querySelector('select#client_edit_section');
                elt.value = "{{ section.id }}";
            {% endif %}
            $("select#client_edit_section").change(function(){
                var selectedSection = $(this).children("option:selected").text();
                //$("#form-file").attr('class', 'd-none');
                window.location.assign("{{url}}/" + selectedSection);
            });
        });
    </script>
{% endblock %}