{# templates/app/security/register.html.twig -- Display of Register Form #}

{% extends 'app/base.html.twig' %}

{% block mainClass %} class="col-lg-8 " {% endblock %}

{% block body %}

<div id="register" class="mx-auto" >
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="mb-4">{{controller_name}}</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button type="submit" class="btn btn-primary">{% trans %}S'inscrire {% endtrans %}</button>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
