{# templates/app/order/add.html.twig -- order verification informations #}

{% extends 'app/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block mainClass %}class="col-12"{% endblock %}

{% block body %}
    <div class="p-5">
        <h2>{% trans %}Résumé de la commande{% endtrans %}</h2>
        <p>{% trans %}Vérifiez vos informations avant de payer votre commande{% endtrans %}</p>
    </div>
    <hr class="my-0">

    <div class="row">
        <div class="col-6 p-0">
            <div class="p-5">
                <h3>{% trans %}Mon adresse de livraison{% endtrans %}</h3>
                <p class="p-3">{{ delivery|raw }}</p>
            </div>
            <hr>
            <div class="p-5">
                <h3>{% trans %}Mon transporteur{% endtrans %}</h3>
                <p class="p-3">
                    <b>{{ carrier.name }}</b><br/>
                    {{ carrier.description }}<br/>
                    {{ carrier.price }}
                </p>
            </div>
        </div>
        <div class="col-6 border-start py-5">
            <h3 class="text-center">{% trans %}Mon panier{% endtrans %} <i class="fa-solid fa-basket-shopping ms-1"></i></h3>
            <ul class="py-3 container-fluid">
                {% set total = 0 %}
                {% set totals = 0 %}
                {% for products in cartFull %}
                    {% set product = products.product %}
                    <div class="row">
                        <div class="col-2 my-auto ps-5">
                            <img src="{{ product.illustration }}" alt="{{ product.name }}" width="50px" class="rounded img-fluid me-2" />
                        </div>
                        <div class="col-8 my-auto">{{ products.quantity }}x <b class="ms-1">{{ product.subtitle }}</b></div>
                        <div class="col-2 my-auto">{{ (product.price * products.quantity)|number_format(2, ',', '.') }} €</div>
                    </div>
                    {% set total =+ (product.price * products.quantity) %}
                    {% set totals = totals + total %}
                {% endfor %}
            </ul>
            <hr>
            <p><b>{% trans %}Sous-Total{% endtrans %} : </b> {{ (totals)|number_format(2, ',', '.') }} €</p>
            <p><b>{% trans %}Livraison{% endtrans %} : </b> {{ (carrier.price)|number_format(2, ',', '.') }} €</p>
            <hr>
            <p><b>{% trans %}Total{% endtrans %} : </b> {{ (totals + carrier.price)|number_format(2, ',', '.') }} €</p>
        </div>
        <hr>

        <div class="col text-center pt-3">
            <a id="checkout-button" class="btn btn-success btn-block">{% trans %}Payer la commande{% endtrans %} ({{ (totals + carrier.price)|number_format(2, ',', '.') }} €)</a>
        </div>

    </div>

{% endblock %}

{% block sideCart %}{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var stripe = Stripe("pk_test_51NYZPwDha53XRXf5GSX3pJAcfgBbPM4isWmA3PnX3hrlfpyDFTCF8bAO4zJQGbB9xTyGGoPIqUV271zOu4rZxO8E00M6lxBXQM");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/commande/create-session/{{ reference }}", {
                method: "POST",
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                if(session.error == 'order') {
                    window.location.replace('{{ path('order_index') }}');
                } else {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                }
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        });
    </script>
{% endblock %}

{% set positionFooter = "position-relative" %}