{# templates/app/order/index.html.twig -- show order informations #}

{% extends 'app/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block mainClass %}class="col-12"{% endblock %}

{% form_theme form _self %}

{% block body %}
<div class="p-5">
    <h2>{% trans %}Ma commande{% endtrans %} </h2>
    <p>{% trans %}Renseignez les informations relatives à votre commande{% endtrans %} </p>
</div>
<hr class="my-0">
{{ form_start(form, {action:path('order_resume')}) }}
    {% set formHtml %}
        <div class="row">
            <div class="col-6 py-5 px-5">
                <h3>{% trans %}Choisir mon adresse de livraison{% endtrans %} </h3>
                <div class="p-3">
                    <div class="row {%  if app.user.addresses is empty %}d-none{% endif %}" >
                        {{ form_row(form.addresses) }}
                    </div>
                    {%  if app.user.addresses is empty %}
                    <p class="p-3">{% trans %}Aucune adresse{% endtrans %} </p>
                    {% endif %}
                    <button type="button" class="btn btn-primary mb-3 mt-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                        {% trans %}Ajouter une nouvelle adresse{% endtrans %} 
                    </button>
                    <h3>{% trans %}Choisir mon transporteur{% endtrans %} </h3>
                    {{ form_row(form.carriers) }} 
                </div>
            </div>
            <div class="col-6 border-start py-5">
                <h3 class="text-center">{% trans %}Mon panier{% endtrans %} <i class="fa-solid fa-basket-shopping ms-1"></i></h3>
                <ul class="py-3 container-fluid">
                    {% for products in cartFull %}
                        {% set product = products.product %}
                        <div class="row">
                            <div class="col-2 my-auto ps-5">
                                <img src="{{ product.illustration }}" alt="{{ product.name }}" width="50px" class="rounded img-fluid me-2" />
                            </div>
                            <div class="col-8 my-auto">{{ products.quantity }}x <b class="ms-1">{{ product.subtitle }}</b></div>
                            <div class="col-2 my-auto">{{ (product.price * products.quantity)|number_format(2, ',', '.') }} €</div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            <div class="col text-center pt-3">{{ form_row(form.submit) }} </div>
        </div>
    {% endset %}
    {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
{{ form_end(form) }}

<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {{ form_start(formAddress) }}
                <div class="modal-header px-5 py-3">
                    <h1 class="modal-title fs-5" id="exampleModalCenterTitle">{% trans %}Ajouter une adresse{% endtrans %} </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5">
                    {{ form_widget(formAddress) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Fermer{% endtrans %} </button>
                    <button type="button" type="submit" class="btn btn-primary">{% trans %}Ajouter l'adresse{% endtrans %} </button>
                </div>
            {{ form_end(formAddress) }}
        </div>
    </div>
</div>

{% endblock %}

{% block _order_addresses_entry_widget %}
    <div class="col-5 card p-3">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _order_carriers_entry_widget %}
    <div class="col-5 card p-3">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block sideCart %}{% endblock %}
{% block sideMenu %}{% endblock %}

{% set positionFooter = "position-relative" %}