{# templates/app/product/partials/_display.html.twig -- Display of a product  #}

<div class=" col-xl-4  col-sm-6 col-xs-4 mb-sm-4">
    <div class="card h-100">
        <!-- Product image-->
        <button class="btn-illustration" href=""><img class="card-img-top" data-bs-toggle="modal" data-bs-target="#productShow{{product.id}}" src="{{ product.illustration }}" alt="..." /></button>
        <!-- Product details-->
        <div class="card-body pt-4 pb-0">
            <div class="text-center container">
                <!-- Product name-->
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm col-5">
                        {% if product.avgRatings %}
                            {% include 'app/product/partials/_rating.html.twig' with {'rating': product.avgRatings }  %} 
                            ({% if  product.comments|length > 0 %}{{ product.comments|length }}{% else %}0{% endif %})
                        {% else %}
                            Pas d'avis
                        {% endif %}
                    </div>
                    <!-- Product price-->
                    <div class="col-5">
                        <span class="border border-dark rounded p-2">{{ (product.price)|number_format(2, ',', '.') }} € / pc</span>
                    </div>
                </div>
                <p class="fs-5 mt-3 mb-0">{{ product.subtitle }}</p>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer  pt-0 border-top-0 bg-transparent text-center row justify-content-lg-end">
            <div class="col-lg-4">
                <a class="text-dark btn btn-light fw-bold fs-3 mb-2" href="{{ path('cart_decrease', {'id' : product.id, 'route': app.request.get('_route') }) }}">
                    -
                </a>
                {% set quantity = 0 %}
                {% if cart %}
                    {% for products in cart %}
                        {% if products.product == product %}{% set quantity = products.quantity %}{% endif %}
                    {% endfor %}
                    {{ quantity }}
                {% else %}
                    0
                {% endif %}
                <a class="text-dark btn btn-light fw-bold fs-4 mb-2" href="{{ path('cart_add', { 'id': product.id, 'route': app.request.get('_route') }) }}">
                    +
                </a>
            </div>
            <div class="col-lg-4 mt-lg-3 text-secondary text-lg-start">
                ({{ (product.price * quantity )|number_format(2, ',', '.') }} €)
            </div>
        </div>
    </div>
</div>
{% include("app/product/partials/_modal.html.twig") with {'product': product} %}