{# templates/app/partials/_navtop.html.twig -- Nav Top of app template  #}

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top d-flex w-100 row">
    <div class="ps-5 col-4">
        <div id="search" class="ms-5">
            {% if app.request.attributes.get('_route_params')['categoryName'] is defined and app.request.attributes.get('_route_params')['categoryName'] != "tout" %}
                {% set param = app.request.attributes.get('_route_params')['categoryName'] %}
            {% else %}
                {% set param = "tout" %}
            {% endif %}
            {{ form_start(formSearch, {'action': path('product_index', {'categoryName': param}), 'method': 'GET'}) }}
                {{ form_widget(formSearch) }}
                <button class="btn position-absolute" style="margin-top: -40px;" type="submit"><i class="fa fa-search"></i></button>
            {{ form_end(formSearch) }}
        </div>
        <div class="w-100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse mx-auto text-center col-lg-4" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">{% trans %}À propos{% endtrans %}</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="{{ path('product_index') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans %}Nos produits{% endtrans %}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ path('product_index') }}">{% trans %}Tous les produits{% endtrans %}</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">{% trans %}Éditions limitées{% endtrans %}</a></li>
                    <li><a class="dropdown-item" href="#!">{% trans %}Nouveautés{% endtrans %}</a></li>
                </ul>
            </li>
        </ul>
        
    </div>
    <div class="d-lg-none d-block col-4 text-center"><span>Ancestral</span></div>
    <div class="text-end ml-auto col-4">
        <div class="w-100 pe-5">
                {% if app.user is null %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark border-0" data-bs-toggle="modal" data-bs-target="#userForm">
                        <i class="fa-solid fa-user me-1"></i>
                    </button>
                {% else %}
                    <a class="btn btn-outline-dark border-0" href="{{ path('account_show') }}" >
                        <i class="fa-solid fa-user me-1"></i>
                    </a>
                {% endif %}
        </div>
    </div>        
</nav>

